
@{
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <img src="~/Content/images/blog/404.png" alt="avukatlık, hukuk, dava, Sevgi Yilmaz, iş hukuku, ceza hukuku, ticaret hukuku, gayrimenkul hukuku, icra, icra hukuku, danıştay kararları, yargıtay kararları " />

    </div>
</div>
