@model BlogApp.Models.ORM.Entity.Hakkimda
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="footer_top_left">

        <div class="ft_contact">
            <h4>İLETİŞİM</h4>
            <address>
                <p> <i class="fa fa-map-marker"></i>@Model.Adres</p>
                <a href="#"><i class="fa fa-phone"></i>@Model.Telefon</a><br>
                <a href="#"><i class="fa fa-angle-down"></i> @Model.Email</a>
            </address>
        </div>
    </div>
</div>
